html, body {
  margin: 0;
  padding: 20px;
  background-color: #cfcccc;
  text-align: center;
  font-family: "Source Code Pro", monospace;
}

.btn {
  font-variant-caps: all-petite-caps;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #161a1d;
  color: #e5383b;
}

.item-size {
  width: 20%;
  height: 10%;
}

.item-space {
  margin: 10px;
}

.text-last-center {
  text-align-last: center;
}

.map-container {
  margin-bottom: 20px;
  margin-left: 20%;
  width: 1000px;
  height: 500px;
}

.search-field {
  width: 300px;
}

.country-info-div {
  float: left;
}

@media screen and (max-width: 1210px) {
  .country-info-div {
    float: none;
  }
  .search-field {
    width: 90%;
  }
  .result-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .map-container {
    width: 90vh;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
